<table>
  <tr>
    <th><%= Spree.t(:image) %></th>
    <th><%= Spree.t(:sku) %></th>
    <th><%= Spree.t(:name) %></th>
    <th><%= Spree.t(:delivery) %></th>
    <th><%= Spree.t(:attributes) %></th>
  </tr>
  <%= simple_form_for update_multiple_admin_redbox_products_path, method: :put, :url => url_for(action: 'update_multiple', controller: 'redbox_products') do %>
      <% @products.each do |product| %>
          <%= simple_fields_for "products[]", product do |f| %>
              <span style="position: fixed; bottom: 0; left: 40%;"><%= f.submit Spree.t(:update) %></span>
              <tr>
                <td>
                  <a href="<%= product.images_links('redbox', 0)[0] %>" target="_blank"><%= image_tag(product.images_links('redbox', 1)[0]) %></a>
                </td>
                <td>
                  <%= product.symbol %>
                </td>
                <td>
                  <a href="http://www.red-box.pl/shop,show,<%= product.product_id %>" target="_blank"><%= product.name_storage %></a>
                </td>
                <td>
                    <%= f.check_box :only_courier %> <%= f.label :only_courier, Spree.t(:only_courier) %> <br />
                    <%= f.check_box :light_package %> <%= f.label :light_package, Spree.t(:light_package) %>
                </td>
                <td>
                  <%= f.association :colors, collection: @colors, label: Spree.t(:colors), input_html: { class: 'select2', style: 'width: 370px; text-align: right;' }, label_html: { style: 'display: block; float: right;' } %>
                  <%= f.association :ocassions, collection: @ocassions, label: Spree.t(:ocassions), input_html: { class: 'select2', style: 'width: 370px;' }, label_html: { style: 'display: block; float: right;' } %>
                  <%= f.association :styles, collection: @styles, label: Spree.t(:styles), input_html: { class: 'select2', style: 'width: 370px;' }, label_html: { style: 'display: block; float: right;' } %>
                  <%= f.association :sizes, collection: @sizes, label: Spree.t(:sizes), input_html: { class: 'select2', style: 'width: 370px;' }, label_html: { style: 'display: block; float: right;' } %>
                  <%= f.association :genders, collection: @genders, label: Spree.t(:genders), input_html: { class: 'select2', style: 'width: 370px;' }, label_html: { style: 'display: block; float: right;' } %>
                </td>
              </tr>
          <% end %>
      <% end %>
  <% end %>
</table>